{{ define "main" }} {{ $inject := slice "js/shims/process.js" }}

<main class="content">
  <body>
    <h1>William Lim</h1>
    <p>
      Hi, I'm a software engineer based in Queens, NY. Currently working on a
      game about dominos.
    </p>

    <!-- <h2>Projects</h2> -->
    <!-- <a href="https://librummy.com">LibRummy.com</a> -->
    <h3>Contact</h3>
    <a href="mailto:limwilliam704@gmail.com">limwilliam704@gmail.com</a>
    <!-- <a href="https://github.com/wlim33">github</a> -->
  </body>
</main>
{{ end }}
